Xft.autohint: 1
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

xterm*background: black
xterm*foreground: lightgray
xterm*faceName: monospace:size=12
xterm*internalBorder: 8
